name: CI - Build and Test

on:
  push:
    branches: ["dev", "feature/**"]
    pull_request:
      branches: ["dev"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: fullstack_devops_demo
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    env:
      DB_HOST: 127.0.0.1
      DB_USER: root
      DB_PASS: root
      DB_NAME: fullstack_devops_demo
      DB_PORT: 3306
      NODE_ENV: development

    steps:
      # Backend
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install backend dependencies
        working-directory: backend
        run: npm install

      # TODO: Add linting step

      - name: Run backend tests
        working-directory: backend
        run: npm test

      # Frontend
      - name: Set up Node.js for frontend
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        working-directory: frontend
        run: npm install

      # TODO: Add frontend tests

      - name: Build frontend
        working-directory: frontend
        run: npm run build
